<ion-header>
  <ion-toolbar>
    <ion-title>Edit Address</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <ion-item>
              <ion-label position="floating">
                PLACE
              </ion-label>
              <ion-input [ngModel]="address.title" name="title" required>

              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                ADDRESS
              </ion-label>
              <ion-textarea [ngModel]="address.address" name="address" required>

              </ion-textarea>
              
            </ion-item>
            <ion-button  type="submit" class="ion-margin" [disabled]="!form.valid">
              Update
            </ion-button>
            <ion-button (click)="onCancel()">
              Cancel
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
