<ion-header>
  <ion-toolbar>
    <ion-title>rough</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">Margeritta Pizza</ion-label>
    <ion-label>{{240|currency:'INR'}}</ion-label>


    
          <ion-button slot="end" class="ion-no-margin">
            +
          </ion-button>
          <ion-label slot="end" class="ion-no-margin">
            5550
          </ion-label>
          <ion-button slot="end" class="ion-no-margin">
            -
          </ion-button>
          
          

  </ion-item>
  <ion-item  class="ion-no-padding">
    <ion-label slot="end">500Rs</ion-label>
  </ion-item>

</ion-content>
