<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let restaurant of restaurants">

        <ion-card button="true" (click)="onOpenRestaurant(restaurant.id)">
          <ion-img [src]="restaurant.imageUrl[0]"></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="ion-margin-top">{{restaurant.address}}</ion-card-subtitle>
            <ion-card-title>{{restaurant.name}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           {{restaurant.details}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
