<ion-header>
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="orders.length<=0">
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label>No Orders Yet</ion-label>
      </ion-item>
      <ion-button expand="block" routerLink="/tabs/tab1">Explore</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="orders.length>=0">
  <ion-grid *ngFor="let order of orders">
    <div class="order">
      <ion-row>
        <ion-col>
          <ion-title>Order</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let item of order.item">
              <ion-label class="ion-text-left ion-text-wrap"
                >{{item.item.name}}</ion-label
              >
              <ion-label class="ion-text-center ion-text-wrap"
                >{{item.quantity}}</ion-label
              >
              <ion-label class="ion-text-right ion-text-wrap"
                >{{itemPriceWithAddOnsAndQuantity(item)|currency:'INR'}}</ion-label
              >
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ion-text-left ion-text-wrap"
              >Total(including tax)</ion-label
            >
            <ion-label class="ion-text-right ion-text-wrap"
              >{{order.total|currency:'INR'}}</ion-label
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ion-text-left ion-text-wrap"
              ><b>Payment Status</b>
            </ion-label>
            <ion-label color="success" class="ion-text-right ion-text-wrap"
              >Done</ion-label
            >
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ion-text-left ion-text-wrap"
              ><b>Order Status</b>
            </ion-label>
            <ion-label color="success" class="ion-text-right ion-text-wrap"
              >Delievered</ion-label
            >
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
