<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-wrap">{{title}}</div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/about">
        
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label> </ion-item
    ><ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero
        facere atque, doloribus deleniti est ipsam harum beatae hic deserunt
        expedita consequatur molestiae distinctio voluptates dolor! Consectetur
        odit quo sapiente!
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
