<ion-content>
  <ion-row>
    <ion-col size-md="10" offset-md="1">
      <ion-item lines="none">
        <ion-button slot="start" fill="clear">
          <ion-icon name="location"></ion-icon>
        </ion-button>
        <ion-select
          color="primary"
          interface="action-sheet"
          placeholder="Select address"
          [value]="selectedAddress.title"
          class="ion-select"
          #select
          (ionChange)="onOptionSelect(select)"
        >
          <ion-select-option
            *ngFor="let address of addresses"
            [value]="address.title"
          >
            <ion-text>{{address.title}}</ion-text>
          </ion-select-option>
        </ion-select>
        <ion-button fill="clear" size="large" routerLink="/profile" slot="end">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- <ion-row>

   

    <ion-col size="2" class="ion-no-margin ion-no-padding">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="location"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8">
      <b>Home</b>

      <ion-item lines="none">
        Deliever to 
        <ion-label>Home</ion-label>
        <ion-select
          color="primary"
          interface="action-sheet"
          placeholder="Select One"
          value="home"
          class="ion-select"
        
        >
          <ion-select-option value="home">Home</ion-select-option>
          <ion-select-option value="office">Office</ion-select-option>
          <ion-select-option value="Harsh's Home"
            >Harsh's place</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> -->

  <ion-row class="sticky-row">
    <ion-col size="12" class="ion-no-padding" size-md="9" offset-md="1.5">
      <ion-searchbar
        #searchbar
        placeholder="Dishes, Restaurants and Offers"
        (ionChange)="onSearch(searchbar.value)"
      ></ion-searchbar>
      <ion-list *ngIf="searchResult">
        <ion-item *ngFor="let item of searchResult" (click)="onSelectItem(item.restaurantId)" button="true">
          <ion-label class="ion-text-wrap">
            {{item.name}}&nbsp;<span *ngIf="item.type=='food'"> From {{ restaurantService.getRestaurant(item.restaurantId).name}}</span>
          </ion-label>
          <ion-img *ngIf="item.type=='restaurant'" [src]="restaurantService.getRestaurant(item.restaurantId).imageUrl[0]">
          </ion-img>
          <ion-img *ngIf="item.type=='food'" [src]="restaurantService.getItem(item.itemId,item.restaurantId).imageUrl">
          </ion-img>
        </ion-item>
      </ion-list>
    </ion-col>
    <!-- <ion-col size="2" class="ion-no-padding">
      <ion-button fill="clear">
        <ion-icon name="options" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col> -->
  </ion-row>

  <ion-row *ngFor="let category of categories">
    <!-- CODE BELOW -->

    <ion-col size-md="10" offset-md="1" class="ion-no-margin ion-no-padding">
      <ion-item lines="none">
        <ion-label style="margin-left: 16px" class="ion-no-padding ion-no-margin"> <b>{{category}}</b> </ion-label>
        <ion-label
          class="ion-text-end pointer"
          slot="end"
          color="primary"
          (click)="onSeeAll()"
          >See all</ion-label
        >
      </ion-item>
    </ion-col>
    <!-- CODE ABOVE -->

    <!-- <ion-col size="10" size-md="7.5" offset-md="1">
      <ion-label style="margin-left: 16px;"> <b>{{category}}</b> </ion-label>
    </ion-col>
    <ion-col size="2" size-md="1.5">
      <ion-label class="ion-text-end" color="primary" (click)="onSeeAll()"
        >see all</ion-label
      >
    </ion-col> -->
    <ion-col size="12" offset-md="1">
      <ion-slides [options]="slideOpts">
        <ion-slide
          *ngFor="let restaurant of restaurants"
          (click)="onSelectItem(restaurant.id)"
        >
          <ion-img [src]="restaurant.imageUrl[0]"> </ion-img>
          <ion-text class="category-name">{{restaurant.name}}</ion-text>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>
