
.adress-bar{
    margin: 0;
}

ion-searchbar{
    position: sticky;
    top: 0;

left: 0;

right: 0;

z-index: 9999;
}

ion-slide{
    display: flex;
    flex-direction: column;
    ion-img{
        width: 80px;
        height: 80px;    
    }
}

.category-name{
    // position: absolute;
    // bottom: 10px;
    font-weight: bolder;
    font-size: small;
    justify-content: baseline;
}

ion-button{
    margin: 0;
    padding: 0;
}
ion-slides{
   padding: 16px;
}
.ion-select{
    color: var(--ion-color-primary);
    font-weight: bolder;
}

.pointer{
    cursor: pointer;
}
ion-img{
    width: 35px;
}