<ion-header>
  <ion-toolbar>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>Your order</ion-list-header>
          <ion-grid>
            <ion-row >
              <ion-col size="8">
                <ion-item lines="none" class="cart-item">
                 <ion-text>Margeriitta</ion-text>
                 <ion-text class="currency">{{90|currency:'INR'}}</ion-text>
                <!-- <ion-text lines="none" class="currency">{{450| currency:'INR'}}</ion-text>     -->
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-button class="btn" size="small">+</ion-button>
                <ion-button fill="clear" size="small">5</ion-button>
                <ion-button size="small">-</ion-button>
                <ion-text lines="none" class="currency">{{450| currency:'INR'}}</ion-text>    

              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  Item total
                  <ion-label slot="end">500</ion-label>
                </ion-item>
                <ion-item>
                  Taxes and charges
                  <ion-label slot="end">200</ion-label>
                </ion-item>
                
                <ion-item lines="none">
                  Total
                  <ion-label slot="end">700</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list-header>Delivering at Maharshi's Home</ion-list-header>
        <ion-item lines="none">
          <ion-text> A-304,Shrinandanagar-3,Vejalpur,Ahmedabad. </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Payment methods</ion-label>
          <ion-select
            #payment
            placeholder="Select One"
            value="paytm"
            placeholder=""
          >
            <ion-select-option value="paytm">Paytm</ion-select-option>
            <ion-select-option value="gpay">Gpay</ion-select-option>
            <ion-select-option value="cash">Cash</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block">Pay 500 using {{payment.value}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
