<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="8" offset-md="2">
        <h3>Enter 4 digit pin</h3>
        <p>Correct Pin : 1234</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(1)">1</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(2)">2</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(3)">3</ion-button>
            </ion-col>
           
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(4)">4</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(5)">5</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(6)">6</ion-button>
            </ion-col>
           
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(7)">7</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(8)">8</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="addPinDigit(9)">9</ion-button>
            </ion-col>
           
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="onRemove()">X</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block"  (click)="addPinDigit(0)">0</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="dark" expand="block" (click)="onGo()">Go</ion-button>
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text *ngFor="let digit of pin">{{digit}}</ion-text>
      </ion-col>
  
    </ion-row>
  </ion-grid>
</ion-content>
