<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-list>
          <ion-list-header>
            Maharshi Gohel
          </ion-list-header>
          <ion-item>
            007maharshigohel@gmail.com
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            FOOD ORDERS
          </ion-list-header>
          <ion-item routerLink="/tabs/tab4">
            Your Orders
          </ion-item>
          <ion-item routerLink="/favourites">
            Favourites
          </ion-item>
          <ion-item routerLink="/address-book">
            Address Book
          </ion-item>
          <ion-item routerLink="/help/online">
            Online Ordering Help
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            TABLE BOOKINGS
          </ion-list-header>
          <ion-item routerLink="/booking">
            Your Bookings
          </ion-item>
          <ion-item routerLink="/help/table">
            Table Reservation Help
          </ion-item>
          <ion-item routerLink="/about">
            About
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-button expand="full">Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
