<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-button color="primary" class="icon" fill="clear" routerLink="/tabs/tab3">
        <ion-icon class="bag-item" slot="icon-only" name="bag"></ion-icon>
        <!-- <ion-badge slot="start">5</ion-badge> -->
      </ion-button>
    </ion-title>
    <!-- <ion-buttons slot="primary">
      
    </ion-buttons>-->
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-item lines="none">
          <ion-label class="name">{{selectedRestaurant.name}} </ion-label>
          <!-- <h3 class="name">{{selectedRestaurant.name}}</h3> -->
          <ion-label slot="end">
             <b>{{selectedRestaurant.rating}}⭐</b> 
          </ion-label>
          <ion-label slot="end">

          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="address ion-text-wrap">{{selectedRestaurant.address}}</ion-label>
          
        </ion-item>
        <!-- <ion-label class="name">{{selectedRestaurant.name}} </ion-label>
        <h3 class="name">{{selectedRestaurant.name}}</h3> -->
        <!-- <ion-label slot="end">{{selectedRestaurant.rating}}⭐</ion-label> --> 
        <!-- <ion-button color="success" fill="clear" class="ion-text-wrap"
          >{{selectedRestaurant.rating}}⭐</ion-button
        > -->
        <!-- <p class="offer">{{selectedRestaurant.Offers}}</p> -->
        
      </ion-col>
      <!-- <ion-col size="2" class="ion-no-margin ion-no-padding">
        <ion-button color="success" fill="clear" class="ion-text-wrap"
          >{{selectedRestaurant.rating}}⭐</ion-button
        >
      </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-chip>
          <ion-label class="offer">{{selectedRestaurant.offers}}</ion-label>
        </ion-chip>
      </ion-col>
      
    </ion-row>
    <ion-row *ngFor="let category of selectedRestaurant.itemCategory">
      <ion-col size-md="10" offset-md="1">
        <ion-item>
          <h5 class="categoryname">{{category.name}}</h5>
        </ion-item>
        
      </ion-col>
      
      <ion-col size="12" *ngFor="let item of category.items"  size-md="4.5" offset-md="1">
        <ion-item>
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row class="ion-margin">
              <ion-col size="9" class="item-column">
                <p class="item-name">{{item.name}}</p>
                <p class="item-price">{{item.price | currency:'INR'}}</p>
                <p class="item-details">{{item.details}}</p>
                <ion-item lines="none" class="icon-item">
                  <ion-button fill="clear" (click)="onAddToFavourite(item)">
                    <ion-icon
                      *ngIf="!item.favourite"
                      name="heart-outline"
                    ></ion-icon>
                    <ion-icon *ngIf="item.favourite" name="heart"></ion-icon>
                  </ion-button>

                  <ion-button fill="clear"
                    ><ion-icon name="share-outline"></ion-icon
                  ></ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="3">
                <ion-img [src]="item.imageUrl" class="itemImage"></ion-img>
                <ion-button
                  expand="block"
                  color="primary"
                  (click)="onAddItem(item.id)"
                  >Add</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
